<div class="box">
  <div class="details">
    <h2>Edit the Details of Workout #<%= @workout[:id] %>:</h2>

    <form action="/training_log/<%= @page_number %>/workouts/<%= @workout[:id] %>/edit" method="post">
      <label for="workout_name"><strong>Name:</strong><br/>
        <input 
          class="new-workout-input" 
          name="workout_name" 
          id="workout_name" 
          value="<%= @workout[:name]%>"/>
        <br/>
      </label>
      <br/>
      <label for="workout_date"><strong>Date:</strong><br/>
        <input 
          class="new-workout-input" 
          name="workout_date" 
          id="workout_date" 
          type="date"
          min="2018-01-01" 
          max="2050-12-31" 
          value="<%= @workout[:date]%>"/>
        <br/>
      </label>
      <button class="enter" type="submit">Update Workout</button>
    </form>
    
    <form action="/training_log/<%= @page_number %>/workouts/<%= @workout[:id] %>" method="get">
      <button class="enter" type="submit">Cancel</button>
    </form>
  </div>
</div>


