<strong>Edit the Details of Workout #<%= @workout[:id] %>:</strong>

<form action="/training_log/<%= @page_number %>/workouts/<%= @workout[:id] %>/edit" method="post">
  <div>
    <label for="workout_name"><strong>Name:</strong>
      <input name="workout_name" id="workout_name" value="<%= @workout[:name]%>"/>
    </label>
  </div>
  <div>
    <label for="workout_date"><strong>Date:</strong>
      <input name="workout_date" id="workout_date" type="date"
             min="2018-01-01" max="2050-12-31" value="<%= @workout[:date]%>"/>
    </label>
  </div>
  <button type="submit">Update Workout</button>
</form>

<form action="/training_log/<%= @page_number %>/workouts/<%= @workout[:id] %>" method="get">
  <button type="submit">Cancel</button>
</form>


