<div class="box">
  <div class="details">
    <h2>Add Exercise to Workout #<%= @workout[:id] %>:</h2>
    <form 
      action="/training_log/<%= @page_number %>/workouts/<%= @workout[:id] %>/exercises/new" 
      method="post">
      <label for="exercise_des">Exercise Description:<br/>
        <input 
          class="new-workout-input" 
          name="exercise_desc" 
          id="exercise_desc" 
          value="Bench Press, Squats, etc."/>
      </label><br />
      <label for="number_sets">Number of Sets:<br />
        <input 
          class="new-workout-input" 
          name="number_sets" 
          id="number_sets" 
          type="number" 
          min="1"
          max="10" 
          value="3"/>
      </label><br />
      <label for="number_reps">Number of Reps:<br />
        <input 
          class="new-workout-input" 
          name="number_reps"
          id="number_reps"
          type="number"
          min="1"
          max="20" 
          value="8"/>
      </label><br />
      <label for="weights_used">Weight Description:<br />
        <input 
          class="new-workout-input"
          name="weights_used"
          id="weights_used" 
          value="i.e. 100 lbs"/>
      </label><br />
      <button class="enter" type="submit">Add Exercise</button>
    </form>

    <form 
      action="/training_log/<%= @page_number %>/workouts/<%= @workout[:id] %>" 
      method="get">
      <button class="enter"type="submit">Cancel</button>
    </form>
  </div>
</div>
