<div class="box">
  <div class="details">
    <div class="topbar">
      <form action="/training_log/<%= @page_number %>/workouts/new" method="get">
        <button class="button" type="submit">
          <i class="fa fa-plus" aria-hidden="true"><b>Add Workout</b></i>
        </button>
      </form>
    </div>
    <div border="2px">
      <table align="center">
        <thead>
          <h2>Current Entries:</h2>
        </thead>
        <tbody>
          <tr>
            <td><b>Type of Workout:</b></td>
            <td><b>Date of Workout</b></td>
            <td><b>User:</b></td>
            <td><b>More Information:</b></td>
          </tr>
          <% @workouts.each do |workout| %>
            <tr>
              <td><%= workout[:name] %></td>
              <td><%= workout[:date] %></td>
              <td><%= workout[:username] %></td>
              <td>
                <a href="/training_log/<%= @page_number %>/workouts/<%= workout[:id] %>">
                  <i class="fa fa-search" aria-hidden="true"></i>Details
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="bottom-bar">
      <form action="/training_log/<%= prior_page_num(@page_number) %>/workouts" method="get">
        <button class="bottom-button" type="submit">
          <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
        </button>
      </form>
      <form action="/training_log/<%= @page_number %>/workouts" method="get">
        <button class="bottom-button" type="submit">
          <i class="fa fa-file-text-o fa-2x" aria-hidden="true">
            <b>Page: <%= @page_number %> / <%= max_number_pages %></b>
          </i>
        </button>
      </form>
      <form action="/training_log/<%= next_page_num(@page_number) %>/workouts" method="get">
        <button class="bottom-button" type="submit">
          <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
        </button>
      </form>
    </div>

  </div>
</div>