<ul aria-label="User Options:"> 
  <li>
    <form action="/logout" method="post">
      <button type="submit">Logout of <%= session[:username] %> Account </button>
    </form>
  </li>
  <li>
    <form action="/delete_account" method="post">
      <button type="submit">Delete Account</button>
    </form>
  </li>
  <li>
    <form action="/training_log/<%= @page_number %>/workouts/new" method="get">
      <button type="submit">Log a New Workout</button>
    </form>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th colspan="4">Current Entries:</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tbl_column_titles">
      <td>Type of Workout:</td>
      <td>Date of Workout:</td>
      <td>User:</td>
      <td>More Information:</td>
    </tr>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout[:name] %></td>
        <td><%= workout[:date] %></td>
        <td><%= workout[:username] %></td>
        <td>
          <a href="/training_log/<%= @page_number %>/workouts/<%= workout[:id] %>">
            View Workout
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="same_row">
  <form action="/training_log/<%= prior_page_num(@page_number) %>/workouts" method="get">
    <button type="submit">Prior Page</button>
  </form>
</div>
<div class="same_row">
  Page: <%= @page_number %> / <%= max_number_pages %>
</div>
<div class="same_row">
  <form action="/training_log/<%= next_page_num(@page_number) %>/workouts" method="get">
    <button type="submit">Next Page</button>
  </form>
</div>
